<nav class="navbar navbar-dark bg-primary sticky-top">
  <div class="input-group mx-auto " style="width: 70%;" id="busca">
    <input type="text" class="form-control" placeholder="Digite algo referente ao item desejado" #nome
      (keyup.enter)="buscaProduto(nome.value)">
    <button type="button" (click)="buscaProduto(nome.value)" class="btn btn-primary"> Pesquisar Item </button>
  </div>
</nav>
<div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of listItemDetalheResponse">
      <div class="card" (click)="openModal(item)">
        <img [src]="item?.dadosImagens[0]?.url" alt="Image not found"
          onerror="this.onerror=null;this.src='../../../assets/images/semImagem.jpg'" />
        <div class="card-body">
          <h5 class="card-title"> {{ item.nomenclatura }} </h5>
          <p> Estoque: {{ item.estoque }} </p>
          <p> Marca pai: {{ item.descricaoMarcaPai }} </p>
          <p> Preço de venda: R$ {{ item.preco?.precoVenda }}</p>
          <p> Preço fidelidade: R$ {{ item.preco?.precoFidelidade }} </p>
        </div>
      </div>
    </div>
    <button *ngIf="isShow" (click)="goToTop()" class="goToTop btn btn-primary">Ir para o inicio da pagina</button>
  </div>
</div>
