<div class="input-group mb-3" id="busca">
  <input #nome (keyup.enter)="buscaProduto(nome.value)">
  <button type="button" (click)="buscaProduto(nome.value)" class="btn btn-primary"> Pesquisar Item </button>
</div>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Cod. Item</th>
      <th scope="col">Nome</th>
      <th scope="col">Estoque</th>
      <th scope="col">Preço de Venda</th>
      <th scope="col">Preço de Fidelidade</th>
      <th scope="col">Decrição</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listItemDetalheResponse">
      <td>{{ item.codigo }}</td>
      <td>{{ item.nomenclaturaDetalhada }} </td>
      <td>{{ item.estoque }}</td>
      <td> R$ {{ item.preco?.precoVenda }}</td>
      <td> R$ {{ item.preco?.precoFidelidade }}</td>
      <td>{{ item.descricaoMarcaPai }} </td>
    </tr>
  </tbody>
</table>




<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->
