<div class="input-group mb-3" id="busca">
  <input type="text" class="form-control" placeholder="Digite algo referente ao item desejado" #nome (keyup.enter)="buscaProduto(nome.value)">
  <button type="button" (click)="buscaProduto(nome.value)" class="btn btn-primary"> Pesquisar Item </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Cod. Item</th>
      <th scope="col">Nome</th>
      <th scope="col">Estoque</th>
      <th scope="col">Preço de Venda</th>
      <th scope="col">Preço de Fidelidade</th>
      <th scope="col">Decrição</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listItemDetalheResponse" (click)="openModal(template, item)">
      <td> {{ item.codigo }}</td>
      <td> {{ item.nomenclatura }} </td>
      <td> {{ item.estoque }} </td>
      <td> R$ {{ item.preco?.precoVenda }} </td>
      <td> R$ {{ item.preco?.precoFidelidade }} </td>
      <td> {{ item.descricaoMarcaPai }} </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col-sm"> Nomenclatura: {{item.nomenclatura}}</div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 ml-auto">Advertencias: {{item.advertencias}}</div>
        <div class="col-md-4 ml-auto">PrincipioAtivo: {{item.principioAtivo}}</div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto">Classe Terapeutica: {{item.classeTerapeutica}}</div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4">
          Preço:
          <div class="row">
            <div class="col-8 col-sm-6">
              De: {{item.precoDe}}
            </div>
            <div class="col-4 col-sm-6">
              Por: {{item.precoPor}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">Classe Terapeutica: {{item.classeTerapeutica}}</div>
        </div>
      </div>
      <div class="row align-items-end">
      </div>
    </div>
  </div>
</ng-template>
